.container {
}

.timer {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
}

.overlay {
  position: absolute;
  background-color: rgba(29, 29, 29, 0.89);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  color: white;
}

.header {
  width: 100%;
  font-size: 32px;
  text-align: center;
  padding-bottom: 50px;
}

.subheader {
  width: 100%;
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
}

.subheader__time {
  width: 100%;
  font-size: 24px;
  text-align: center;
  padding-bottom: 50px;
}

.start-button {
  margin: 0 auto;
  display: block;
  border: 2px white solid;
  background-color: transparent;
  color: white;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px
}

.tile {
  background-image: url('tiles.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.tile__cross {
  background-position: 0px 0px;
}

.tile__star {
  background-position: -100px 0px;
}

.tile__brackets {
  background-position: -200px 0px;
}

.tile__shield {
  background-position: 0px -100px;
}

.tile__heart {
  background-position: -100px -100px;
}

.tile__moon {
  background-position: -200px -100px;
}

.tile__arrow {
  background-position: 0px -200px;
}

.tile__thunder {
  background-position: -100px -200px;
}

.tile__moustache {
  background-position: -200px -200px;
}

.tile__plus {
  background-position: 0px -300px;
}

.tile__check {
  background-position: -100px -300px;
}

.tile__cloud {
  background-position: -200px -300px;
}

.tile__hide {
  background-position: 0px -400px;
}

@media only screen and (max-device-width: 720px) {

  .timer {
    font-size: 24px;
  }

  .header {
    font-size: 72px;
  }

  .subheader {
    font-size: 64px;
  }

  .subheader__time {
    font-size: 64px;
  }

  .start-button {
    font-size: 52px;
  }

  .tile {
    width: 200px;
    height: 200px;
    background-size: 300%;
  }

  .tile__cross {
    background-position: 0px 0px;
  }

  .tile__star {
    background-position: -200px 0px;
  }

  .tile__brackets {
    background-position: -400px 0px;
  }

  .tile__shield {
    background-position: 0px -200px;
  }

  .tile__heart {
    background-position: -200px -200px;
  }

  .tile__moon {
    background-position: -400px -200px;
  }

  .tile__arrow {
    background-position: 0px -400px;
  }

  .tile__thunder {
    background-position: -200px -400px;
  }

  .tile__moustache {
    background-position: -400px -400px;
  }

  .tile__plus {
    background-position: 0px -600px;
  }

  .tile__check {
    background-position: -200px -600px;
  }

  .tile__cloud {
    background-position: -400px -600px;
  }

  .tile__hide {
    background-position: 0px -800px;
  }
}
